.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(https://img.freepik.com/free-photo/room-with-black-brick-wall_53876-88580.jpg?w=1380&t=st=1693390433~exp=1693391033~hmac=b19b3c5df43f1af428c2570ebc995d9abb1aed6b56758fcc44c424f8b4c6f10e);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
   display: flex;
    justify-content: space-between;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: goldenrod;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}
.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 5px;
    background: #d16a63;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}
.text-box {
    width: 90%;
    color: goldenrod;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1 {
    font-size: 65px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: goldenrod;
}
.hero-btn {
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover {
    border: 1px #d16a63;
    background: goldenrod;
    transition: 1s;
}

@media(max-width: 500px){
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #e9a09a;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
    }
}

#about {
    width: 100%;
    padding: 70px 0;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}

.title-text p {
    margin: 50px;
    font-size: 25px;
    color: rgb(231, 172, 23);
    font-weight: bolder;
    display: inline-block;
    z-index: 1;
    position: relative;
}


.title-text h3 {
    font-size: 40px;
}

.title-text p::after {
    content: "";
    width: 50px;
    height: 35px;
    background: rgba(71, 58, 58, 0.99);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.feature-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features {
    flex-basis: 50%;
}

.features-img {
    flex-basis: 50%;
    margin: auto;
}
.features-img img {
    width: 70%;
    border-radius: 10px;
}

.features h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: goldenrod;
}
.features-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.feature-icon .fa-solid {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    border: 1px solid goldenrod;
}

.feature-text p {
    padding: 0 20px;
    text-align: initial;
}

@media screen and (max-width: 500px) {
    .title-text h3 {
        font-size: 30px;
    }
    .features {
        flex-basis: 20%;
    }
    .features-img {
        flex-basis: 100%;
    }
    .features-img img {
        width: 100%;
    }
}

/*--Gallery--*/

.Gallery {
    width: 100%;
    padding: 50px;
}

.gallery-text {
    text-align: center;
    padding-bottom: 50px;
}
.gallery-text p {
    margin: 50px;
    font-size: 25px;
    color: rgb(231, 172, 23);
    font-weight: bolder;
    display: inline-block;
    z-index: 1;
    position: relative;
}
.gallery-text p::after {
    content: "";
    width: 50px;
    height: 35px;
    background: rgba(71, 58, 58, 0.99);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.gallery-text h1 {
    font-size: 40px;
}
.container {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
}

.container img {
    width: 100%;
    cursor: pointer;
}
    
.container img:hover {
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
}

@media screen and (max-width: 500px) {
    .gallery-text h1 {
        font-size: 15px;
    } 
}

