.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(https://img.freepik.com/free-photo/room-with-black-brick-wall_53876-88580.jpg?w=1380&t=st=1693390433~exp=1693391033~hmac=b19b3c5df43f1af428c2570ebc995d9abb1aed6b56758fcc44c424f8b4c6f10e);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
   display: flex;
    justify-content: space-between;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: goldenrod;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}
.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 5px;
    background: #d16a63;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}
.text-box {
    width: 90%;
    color: goldenrod;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1 {
    font-size: 65px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: goldenrod;
}
.hero-btn {
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover {
    border: 1px #d16a63;
    background: goldenrod;
    transition: 1s;
}

@media(max-width: 500px){
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #e9a09a;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
    }
}

#about {
    width: 100%;
    padding: 70px 0;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}

.title-text p {
    margin: 50px;
    font-size: 25px;
    color: rgb(231, 172, 23);
    font-weight: bolder;
    display: inline-block;
    z-index: 1;
    position: relative;
}


.title-text h3 {
    font-size: 40px;
}

.title-text p::after {
    content: "";
    width: 50px;
    height: 35px;
    background: rgba(71, 58, 58, 0.99);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.feature-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features {
    flex-basis: 50%;
}

.features-img {
    flex-basis: 50%;
    margin: auto;
}
.features-img img {
    width: 70%;
    border-radius: 10px;
}

.features h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: goldenrod;
}
.features-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.feature-icon .fa-solid {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    border: 1px solid goldenrod;
}

.feature-text p {
    padding: 0 20px;
    text-align: initial;
}

@media screen and (max-width: 500px) {
    .title-text h3 {
        font-size: 30px;
    }
    .features {
        flex-basis: 20%;
    }
    .features-img {
        flex-basis: 100%;
    }
    .features-img img {
        width: 100%;
    }
}

/*--Gallery--*/

.Gallery {
    width: 100%;
    padding: 50px;
}

.gallery-text {
    text-align: center;
    padding-bottom: 50px;
}
.gallery-text p {
    margin: 50px;
    font-size: 25px;
    color: rgb(231, 172, 23);
    font-weight: bolder;
    display: inline-block;
    z-index: 1;
    position: relative;
}
.gallery-text p::after {
    content: "";
    width: 50px;
    height: 35px;
    background: rgba(71, 58, 58, 0.99);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.gallery-text h1 {
    font-size: 40px;
}
.container {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
}

.container img {
    width: 100%;
    cursor: pointer;
}
    
.container img:hover {
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
}

@media screen and (max-width: 500px) {
    .gallery-text h1 {
        font-size: 15px;
    } 
}
.CONTACT {
  position: relative;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(https://img.freepik.com/premium-photo/gray-calathea-lutea-leaf-patterned-background_53876-149681.jpg?w=1380);
  background-size: cover;
  
}

.CONTACT .content {
    margin: 100px;
    text-align: center;
}
.CONTACT .content h2 {
    font-size: 35px;
    font-weight: 700;
    color: #e3b80d;
}
.CONTACT .content p {
    font-weight: 500;
    color: #f0c207;
    font-size: xx-large;
}

.Container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Container .contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.Container .contactinfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}
.Container .contactinfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: hsl(50, 87%, 49%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 25px;
}
.Container .contactinfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 30px;
    flex-direction: column;
    font-weight: 500;
    color: #f0c207;
}
.Container .contactinfo .box .text h3 {
    font-weight: 700;
}

.Contactform {
    width: 40%;
    padding: 40px;
    background: rgb(220, 186, 14);
}
.Contactform h2 {
    font-size: 30px;
    font-weight: 500;
    color: #2f2e2b;
}
.Contactform .inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.Contactform .inputbox input,
.Contactform .inputbox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 20px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}
.Contactform .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 20px;
    pointer-events: none;
    transition: 0.5s;
    color: rgb(244, 200, 7);
}
.Contactform .inputbox input:focus ~ span,
.Contactform .inputbox iput:valid ~ span,
.Contactform .inputbox textarea:focus ~ span,
.Contactform .inputbox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.Contactform .inputbox input[type="submit"] {
    width: 100px;
    background: rgb(252, 209, 18);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

@media screen and (max-width: 500px) {
    .CONTACT {
        padding: 50px;
    } 
    .Container {
        flex-direction: column;
    }
    .Container .contactinfo {
        margin-bottom: 40px;
    }
    .Container .contactinfo,
    .Contactform {
       width: 100%;
    }
}


.SERVICES {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fed20f;
}

.con-tainer {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.con-tainer .boxx {
    position: relative;
    background: #2f2e2b;
    padding: 20px 40px 40px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
}
.con-tainer .boxx:nth-child(1) {
    background: url(https://img.freepik.com/free-vector/damask-seamless-pattern-classical-luxury-old-fashioned-damask-ornament_1217-3393.jpg?w=826&t=st=1693779983~exp=1693780583~hmac=23e0057a394cc2bbeb3fb7d1b58967d05a4873dbb377280b575a9c82b441377c);
}
.con-tainer .boxx:nth-child(2) {
  background: url(https://img.freepik.com/premium-vector/seamless-floral-texture-with-white-creative-ornamental-outline-flowers-white-background_224667-1929.jpg?w=826);
}
.boxx:nth-child(3) {
  background: url(https://img.freepik.com/free-photo/service-maintenance-worker-repairing_23-2149176701.jpg?w=740&t=st=1693780219~exp=1693780819~hmac=05205094f032c2a5c9503d15041a7e6c8cdd71a33a725ec9561c8b8e72869066);
  background-size: cover;
  background-repeat: no-repeat;
  
}
.con-tainer .boxx h2 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 50px;
    color: #554a16ee;
}
.con-tainer .boxx h3 {
    margin: 0;
    padding: 0;
    color: #2f2e2b;
    font-size: 30px;
    text-transform: uppercase;
}
.con-tainer .boxx p {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 20px;
    
}

.ft {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    font-size: x-large;
    color: #f0c207;
}